@font-face {
  font-family: "BebasNeue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("BebasNeue"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
}

@font-face {
  font-family: "BebasNeue";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local("BebasNeue"),
    url("../fonts/BebasNeueBold.woff2") format("woff2"),
    url("../fonts/BebasNeueBold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff") format("woff");
}
