$tablet-width: 768px;
$mobile-width-only: ($tablet-width - 1px);
$desktop-width: 1200px;
$tablet-width-only: ($desktop-width - 1px);

$white: #FFFFFF;
$navy-blue: #102654;
$navy: #1C3374;
$blue: #103AAE;
$red: #ED0233;
$black: #030A1A;
$light-blue: #74819C;
$grey: #F8F9FC;
