.membership {
  width: 100%;
  padding-bottom: 40px;
  position: relative;
  @media (max-width: $tablet-width-only) {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  @media (max-width: $mobile-width-only) {
    padding-top: 70px;
    padding-bottom: 2px;
  }
}

.membership__container {
  background-color: $grey;
  padding-bottom: 80px;
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
  min-height: 769px;
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 287px;
    height: 494px;
    background-image: url(../img/discs-desktop@1x.png);
    background-repeat: no-repeat;
    background-size: auto;
    right: 0;
    bottom: -150px;
    box-sizing: border-box;
    @media (min-resolution: 1.5dppx) {
      background-image: url(../img/discs-desktop@2x.png);
      background-size: 287px 494px;
    }
    @media (max-width: $tablet-width-only) {
      width: 347px;
      height: 444px;
      bottom: -108px;
      background-image: url(../img/discs-tablet@1x.png);
      @media (min-resolution: 1.5dppx) {
        background-image: url(../img/discs-tablet@2x.png);
        background-size: 347px 444px;
      }
    }
    @media (max-width: $mobile-width-only) {
      background-image: none;
    }
  }
  h2 {
    font-size: 49px;
    line-height: 49px;
    text-transform: uppercase;
    font-family: "BebasNeue", "Arial", sans-serif;
    letter-spacing: 0.03em;
    color: $navy-blue;
    text-align: center;
    padding-top: 120px;
    margin-top: 0;
    margin-bottom: 33px;
    @media (max-width: $tablet-width-only) {
      font-size: 42px;
      line-height: 42px;
      padding-top: 100px;
      margin-bottom: 25px;
    }
    @media (max-width: $mobile-width-only) {
      font-size: 32px;
      line-height: 32px;
      padding-top: 69px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: $mobile-width-only) {
    padding-bottom: 38px;
    margin-bottom: 67px;
  }
}

.membership__list-validity {
  display: flex;
  min-width: 387px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  &::after {
    content: "";
    width: 341px;
    height: 2px;
    position: absolute;
    background-color: rgba(120, 120, 120, 0.2);
    top: 38px;
    @media (max-width: $tablet-width-only) {
      width: 332px;
      top: 35px;
    }
    @media (max-width: $mobile-width-only) {
      width: 290px;
      top: 32px;
    }
  }
  input {
    :checked+label {
      color: #102654;
      border-bottom: 2px solid #D10A42;
    }
  }
  label {
    color: rgba(16, 38, 84, 0.5);
    border-bottom: 2px solid rgba(120, 120, 120, 0);
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 8px;
    margin-left: 23px;
    margin-right: 23px;
    font-family: "Roboto Condensed", "Courier", monospace;
    &:hover,
    &:focus {
      color: #102654;
      border-bottom: 2px solid #D10A42;
    }
    @media (max-width: $tablet-width-only) {
      font-size: 18px;
      line-height: 27px;
      margin-left: 27px;
      margin-right: 27px;
    }
    @media (max-width: $mobile-width-only) {
      font-size: 16px;
      line-height: 24px;
      margin-left: 0;
      margin-right: 0;
      &:nth-child(n+3) {
        margin-left: 45px;
      }
    }
  }
  @media (max-width: $tablet-width-only) {
    min-width: 332px;
  }
  @media (max-width: $mobile-width-only) {
    min-width: 290px;
  }
}

.membership__list-price {
  display: none;
}

.membership__list-price--active {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  width: 95%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  li {
    position: relative;
    background-color: $white;
    text-align: center;
    width: 28.5%;
    padding: 7px;
    margin-bottom: 40px;
    overflow: hidden;
    border: 7px solid $white;
    &:hover,
    &:focus {
      border-width: 7px;
      border-style: solid;
      background: $white;
      background-position: 0 0, 100% 0;
      -moz-border-image: -moz-linear-gradient(left, #D10A42 0%, #00359F 100%);
      -webkit-border-image: -webkit-linear-gradient(left, #D10A42 0%, #00359F 100%);
      border-image: linear-gradient(to bottom right, #D10A42 0%, #00359F 100%);
      border-image-slice: 1;
      a {
        background: -webkit-linear-gradient(135deg, rgb(237, 2, 51), rgb(0, 62, 183) 100%);
        background: -moz-linear-gradient(135deg, rgb(237, 2, 51), rgb(0, 62, 183) 100%);
        background: linear-gradient(135deg, rgb(237, 2, 51), rgb(0, 62, 183) 100%);
        color: $white;
        border: none;
        padding: 27px 45px;
      }
      @media (max-width: $tablet-width-only) {
        background-color: $grey;
      }
      @media (max-width: $mobile-width-only) {
        background-color: $white;
      }
    }
    @media (max-width: $tablet-width-only) {
      width: 100%;
    }
    @media (max-width: $mobile-width-only) {
      margin-bottom: 35px;
    }
  }
  h3 {
    font-size: 26px;
    line-height: 40px;
    padding-top: 20px;
    margin-bottom: 5px;
    @media (max-width: $tablet-width-only) {
      padding-top: 17px;
    }
    @media (max-width: $mobile-width-only) {
      font-size: 22px;
      line-height: 24px;
      padding-top: 11px;
      margin-top: 25px;
      margin-bottom: 9px;
    }
  }
  b {
    position: absolute;
    color: rgba(232, 232, 232, 0.5);
    font-size: 100px;
    font-weight: 700;
    z-index: 1;
    top: 148px;
    left: 71px;
    @media (max-width: $tablet-width-only) {
      left: 112px;
    }
    @media (max-width: $mobile-width-only) {
      font-size: 80px;
      left: 50%;
      margin-left: -81px;
      top: 128px;
    }
  }
  p{
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
    z-index: 2;
  }
  .membership__item-price {
    font-size: 60px;
    line-height: 90px;
    margin-top: 68px;
    font-weight: 700;
    color: $blue;
    margin-bottom: 29px;
    text-shadow: #E8E8E8 -10px -30px 100px;
    margin-left: -42px;
    position: relative;
    &::after {
      content: "";
      background-image: url("../img/icon-rublik.svg");
      background-repeat: no-repeat;
      background-size: 30px 42px;
      width: 30px;
      height: 42px;
      position: absolute;
      top: 23px;
      margin-left: 14px;
      @media (max-width: $mobile-width-only) {
        width: 24px;
        height: 33px;
        background-size: 24px 33px;
        top: 19px;
        margin-left: 10px;
      }
    }
    @media (max-width: $mobile-width-only) {
      font-size: 48px;
      line-height: 72px;
      margin-top: 58px;
      margin-left: -35px;
    }
  }
  a {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $navy-blue;
    padding: 25px 43px;
    border: 2px solid $navy-blue;
    font-weight: 700;
    margin-bottom: 53px;
    @media (max-width: $mobile-width-only) {
      margin-bottom: 35px;
    }
  }
  @media (max-width: $tablet-width-only) {
    max-width: 442px;
    margin-top: 28px;
  }
  @media (max-width: $mobile-width-only) {
    margin-top: 19px;
    width: 90%;
  }
}
