.trainers {
  color: $white;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 120px;
  position: relative;
  max-width: 1272px;
  h2 {
    font-size: 49px;
    line-height: 49px;
    font-family: "BebasNeue", "Arial", sans-serif;
    letter-spacing: 0.03em;
    color: $navy-blue;
    margin-bottom: 49px;
    @media (max-width: $tablet-width-only) {
      font-size: 42px;
      line-height: 42px;
      text-align: center;
      margin-bottom: 40px;
    }
    @media (max-width: $mobile-width-only) {
      font-size: 32px;
      line-height: 32px;
    }
  }
  p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    padding-top: 225px;
    margin-bottom: 0;
    @media (max-width: $tablet-width-only) {
      text-align: center;
    }
    @media (max-width: $mobile-width-only) {
      text-align: center;
      padding-top: 210px;
    }
  }
  span {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    display: none;
    @media (max-width: $tablet-width-only) {
      text-align: center;
    }
    @media (max-width: $mobile-width-only) {
      text-align: center;
    }
  }
  ol {
    padding-left: 68px;
    padding-top: 21px;
    display: none;
    width: 260px;
    li {
      padding-bottom: 13px;
      font-size: 14px;
      line-height: 21px;
      width: 143px;
      list-style-type: disc;
    }
    @media (max-width: $tablet-width-only) {
      width: 268px;
    }
    @media (max-width: $mobile-width-only) {
      padding-left: 0px;
      padding-left: 48px;
      width: 226px;
    }
  }
  @media (max-width: $tablet-width-only) {
    margin-top: 66px;
    overflow: hidden;
    max-width: 768px;
  }
  @media (max-width: $mobile-width-only) {
    margin-top: 45px;
    margin-bottom: 68px;
    max-width: 320px;
  }
}

.trainers__container {
  max-width: 1160px;
  min-width: 1020px;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $tablet-width-only) {
    width: 566px;
    max-width: 566px;
    min-width: 566px;
  }
  @media (max-width: $mobile-width-only) {
    width: 226px;
    max-width: 226px;
    min-width: 226px;
  }
}

.trainers__wrapper {
  max-width: 1160px;
  min-width: 1020px;
 // width: 100%;
  @media (max-width: $tablet-width-only) {
    width: 566px;
    max-width: 566px;
    min-width: 566px;
  }
  @media (max-width: $mobile-width-only) {
    width: 226px;
    max-width: 226px;
    min-width: 226px;
  }
}

.trainers__item {
  background-size: 260px 294px;
  max-width: 260px;
  min-width: 225px;
  height: 294px;
  &:hover,
  &:focus {
    ol,
    span {
      display: block;
    }
    background-color: rgba(16, 38, 84, 0.89);
    p {
      padding-top: 34px;
      @media (max-width: $mobile-width-only) {
        padding-top: 24px;
      }
    }
  }
  @media (max-width: $tablet-width-only) {
    width: 268px;
    max-width: 268px;
    min-width: 268px;
    height: 294px;
    background-size: 268px 294px;
  }
  @media (max-width: $mobile-width-only) {
    width: 226px;
    max-width: 226px;
    min-width: 226px;
    height: 274px;
    background-size: 226px 274px;
  }
}

.trainers__item--anna {
  content: "";
  background-image: url("../img/photo-anna@1x.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/photo-anna@2x.jpg");
  }
}

.trainers__item--alex {
  content: "";
  background-image: url("../img/photo-alex@1x.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/photo-alex@2x.jpg");
  }
}

.trainers__item--alexandr {
  content: "";
  background-image: url("../img/photo-alexandr@1x.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/photo-alexandr@2x.jpg");
  }
}

.trainers__item--mary {
  content: "";
  background-image: url("../img/photo-mary@1x.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/photo-mary@2x.jpg");
  }
}

.trainers__button {
  background-color: rgba(0, 0, 0, 0);;
  color: #AFAFAF;
  border: none;
  background-repeat: no-repeat;
  width: 16px;
  height: 32px;
  background-size: 16px 32px;
  position: absolute;
  top: 270px;
  z-index: 10;
  cursor: pointer;
  @media (max-width: $tablet-width-only) {
    top: 247px;
  }
  @media (max-width: $mobile-width-only) {
    top: 227px;
    width: 10px;
    height: 19px;
    background-size: 10px 19px;
  }
}

.trainers__button--left {
  left: 0px;
  content: "";
  background-image: url("../img/arrow-left.svg");
  @media (max-width: $tablet-width-only) {
    left: 45px;
  }
  @media (max-width: $mobile-width-only) {
    left: 15px;
  }
}

.trainers__button--right {
  right: 0px;
  content: "";
  background-image: url("../img/arrow-right.svg");
  @media (max-width: $tablet-width-only) {
    right: 45px;
  }
  @media (max-width: $mobile-width-only) {
    right: 15px;
  }
}
